<div>
  <fieldset class="fieldset">
    <div class="row column">
      <label>
        <%= form.label_for(:content_sections) %>
      </label>
    </div>
    <% sections.each do |section| %>
      <div class="row column">
        <%= form.check_box :content_sections, { multiple: true, label: false }, section.id %>
        <%= translated_attribute(section.body) %>
      </div>
    <% end %>
  </fieldset>
</div>
