<div class="card__footer">
  <div class="card__support">
    <div class="card__support__data"></div>
    <%= link_to t("decidim.plans.plans.plan.view_plan"), resource_path, class: "card__button button--sc light button small secondary" %>
  </div>
</div>
