<% if has_link_to_resource? %>
  <div class="card__footer">
    <div class="card__support">
      <div class="card__support__data">
        <% if show_favorite_button? %>
          <%== cell("decidim/favorites/favorite_button", model, hide_text: true) %>
        <% end %>
      </div>
      <% if has_footer? %>
        <%= link_to t(".view_plan"), resource_path, class: "card__button button hollow large primary" %>
      <% end %>
    </div>
  </div>
<% end %>
