.multifield-fields{
  .multifield-field-divider{
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  .card-title{
    padding-top: 0;
    padding-bottom: 0;

    .card-title-text{
      display: inline-block;
      padding-top: .2rem;
      padding-bottom: .2em;
    }
  }

  .button--title{
    float: right;
    margin-left: 1rem;

    &:first-child{
      margin-left: 0;
    }
  }
}

.address-input{
  position: relative;

  .tribute-container{
    top: 51px;
  }
}

.attachments-section{
  .attachment-fields{
    display: none;
  }

  .attached-file{
    margin-bottom: 1rem;

    .attachment-move-buttons{
      display: inline-block;
      min-width: 35px;
    }

    .attachment-buttons{
      .edit-attachment{
        margin-right: 1rem;
      }
    }

    .form-error{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.plan_form_admin{
  .plans-map{
    width: 100%;
    height: 200px;
    margin-bottom: 2rem;

    // Breakpoint for 'mediumlarge' but we don't have access to the mixins.
    @media screen and (min-width: 800px){
      height: 450px;
    }
  }
}

.field-info{
  position: relative;

  .form-help-tooltip{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.form-help-tooltip{
  .icon--information{
    width: 20px;
    height: 20px;
  }
}
