<div class="card__info">
  <% if has_visible_area_scope? %>
    <div class="card__info__item">
      <%= translated_attribute(area_scope.name) %>
    </div>
  <% end %>

  <div class="card__info__item">
    #<%= model.id %>
  </div>
</div>

<div class="card__info">
  <div class="card__info__item">
    <%= creation_date_status %>
  </div>

  <% if has_category? %>
    <div class="card__info__item">
      <%= category_name %>
    </div>
  <% end %>
</div>
