<div class="flex--cc flex-gap--1">
  <div id="js-other-actions-wrapper">
    <%= link_to t("actions.sections", scope: "decidim.plans"), sections_path, class: "button button__sm button__secondary" %>

    <% if allowed_to? :create, :plan %>
      <%= link_to t("actions.new", scope: "decidim.plans"), new_plan_path, class: "button button__sm button__secondary" %>
    <% end %>

    <% if allowed_to? :export_budgets, :plans %>
      <%= link_to t("actions.export_budgets", scope: "decidim.plans"), new_budgets_export_path, class: "button button__sm button__secondary" %>
    <% end %>

    <%= export_dropdown %>
  </div>
</div>
