<% content = form.object %>

<div class="row column">
  <% if component_settings.multilingual_answers? %>
    <%=
    form.translated(
        :text_area,
        :body,
        tabs_id: id,
        label: content.label,
        help_text: content.help,
        rows: 4
    )
    %>
  <% else %>
    <%=
    form.text_area(
        "body_#{current_locale}".to_sym,
        tabs_id: id,
        label: content.label,
        help_text: content.help,
        rows: 4
    )
    %>
  <% end %>
</div>

<%= form.hidden_field :id %>
<%= form.hidden_field :section_id %>
