<%
# Force the form to be multipart for the file uploads.
# Calling Decidim form builder's own `upload` builder method should already do
# this but it is not working in our case since we have multiple file fields.
form.multipart = true
%>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= title %>
  </h1>
</div>

<div class="form__wrapper">
  <div class="card">
    <div class="card-section">
      <div class="row column">
        <div class="plan-form-container">
          <%= cell(
            "decidim/plans/plan_form",
            form,
            disable_user_group_field: true,
            context: { plan: @plan }
          ) %>
        </div>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_plans_plans_form" %>
