<%
# Force the form to be multipart for the file uploads.
# Calling Decidim form builder's own `upload` builder method should already do
# this but it is not working in our case since we have multiple file fields.
form.multipart = true
%>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= render_plan_form(form) %>
  </div>
</div>
