<div class="row">
  <div class="columns large-12">
    <%= link_to new_plan_path do %>
      <%= icon "chevron-left", class: "icon--small", role: "img" %>
      <%= t(".back") %>
    <% end %>
  </div>
</div>

<div class="idea-form-container">
  <div class="row column view-header">
    <%== @text %>
  </div>
</div>
