<%
content = form.object
form_field = case content.section.section_type
when 'field_text'
  :text_field
else
  :text_area
end
%>

<div class="row column">
  <% if component_settings.multilingual_answers? %>
    <%= form.translated(
      form_field,
      :body,
      tabs_id: id,
      label: content.label,
      help_text: content.help,
      rows: 4
    ) %>
  <% else %>
    <%= form.public_send(
      form_field,
      "body_#{current_locale}".to_sym,
      tabs_id: id,
      label: content.label,
      help_text: content.help,
      rows: 4
    ) %>
  <% end %>
</div>

<%= form.hidden_field :id %>
<%= form.hidden_field :section_id %>
