<% unless content.nil? || present(content).body.empty? %>
  <div class="section">
    <h3 class="section-heading"><%= present(content).title %></h3>
    <div class="section-content"><%= present(content).body %></div>
  </div>
<% end %>
