<div class="collection-controls">
  <div class="control">
    <%= order_selector available_orders, i18n_scope: "decidim.plans.plans.orders" %>
  </div>
  <% if false %>
    <div class="control">
      <%= render partial: "decidim/shared/results_per_page.html" %>
    </div>
  <% end %>
</div>
