<div class="plan-contents">
  <% @plan.sections.visible_in_view.each do |section| %>
    <%=
    render partial: "content",
    object: @plan.contents.find_by(section: section)
    %>
  <% end %>
</div>
