<div class="row">
  <div class="columns large-6 small-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, html: { class: "plans-form" }) do |form| %>
          <%= render partial: "form", object: form %>

          <div class="actions">
            <%= form.submit t(".update"), class: "button expanded mt-s mb-none", data: { disable: true } %>
          </div>

          <% if @plan.draft? %>
            <div class="row column flex-center">
              <%= link_to t(".discard"), plan_path(@plan), method: :delete, data: { confirm: t(".discard_confirmation") } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
