<div class="row">
  <div class="columns large-6 large-push-3">
    <div class="card">
      <div class="p-l">
        <%= render partial: "plan_preview", locals: { plan: @plan } %>
        <div class="row column flex-center">
          <%= link_to t(".modify"), edit_plan_path(@plan) %>

          <%= button_to t(".publish"), publish_plan_path(@plan), method: :post, class: "button button--nomargin small" %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
