<div class="row attachments">
  <div class="columns large-12">
    <%= display_documents %>
  </div>
</div>
<div class="row attachments">
  <div class="columns large-12">
    <%= display_photos %>
  </div>
</div>
