<div class="field with-character-counter">
  <%= plain_label form, "body_#{current_locale}".to_sym %>

  <div class="row">
    <div class="columns large-8">
      <% if multilingual_answers? %>
        <%= form.translated(
          :text_field,
          :body,
          {
            tabs_id: id
          }.merge(field_options).merge(rc_opts)
        ) %>
      <% else %>
        <%= form.text_field(
          "body_#{current_locale}".to_sym,
          field_options
        ) %>
      <% end %>
    </div>
    <div class="columns large-4">
      <div class="field-character-counter-info field-info"></div>
    </div>
  </div>
</div>

<div id="plans-dummy-counter-<%= section.id %>" class="hide" aria-hidden="true"></div>
